.seatContentHolder{
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
}
.seatPlanHolder{
    display: flex;
    position: relative;
    width: calc( 100% - 120px );
    height: 500px;
    overflow: scroll;
}
.seatActionControl{
    display: block;
    width: 120px;
    margin-left: 12px;
    /*background-color: #0a6ebd;*/
}
#parentDiv {
    width: 1000px;
    height: 600px;
    /*border: 1px solid #333;*/
    position: relative;
    padding: 10px;
    /*margin: auto;*/
}
#setColor{
    width: 30px;
}
.movementHolder{
    display: grid;
    width: 120px;
    height: 119px;
}
.childDiv {
    width: 35px;
    height: 35px;
    /*background-color: #bfe5f1;*/
    border: 1px dotted #c1bdbd;
    position: absolute !important;
    text-align: center;
    line-height: 35px;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
}
/*.selection-box{
    border: 1px dotted #000000;
}*/
.selected {
    /*border: 1px solid #000000;*/
    /*border: 2px dotted #000000;*/
    border: 2px dashed #000000;
    background-color: lightcoral;
}
/*.save{
    border: 1px solid #c1bdbd;
}*/
.controls {
    margin-bottom: 10px;
}

.removeSelected,
.set_single_select,
.setText{
    border: 1px solid #d3cccc !important;
    font-weight: bold;
}

.rotateControls{
    display: flex;
    width: 100%;
}

.rotateDone{
    border: 1px solid #d3cccc !important;
    font-weight: bold;
}

.controls input {
    margin-right: 10px;
}
/*.circleSelected{
    background-color: #999900;
}*/

.set_text_holdercontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.set_text_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.set_text_holder .close_set_text {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.set_text_display{
    display: flex;
    min-width: 100px;
}
.close_set_text{
    color: #fff;
}
.seatText{
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    overflow: visible;
}
.seatNumber{
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 10;
    color: #fff;
}

.enable_single_seat_selection,
.circleSelected,
.enable_set_text,
.enable_drag_drop,
.enable_resize_selected,
.enable_clear_selected,
.enable_set_multiselect,
.enable_set_seat,
.enable_set_shape,
.setSeatNumberSelected,
.enable_erase_seat,
.enable_set_seat_number{
    background-color: #cf933d;
    color: #fff;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /*width: 720px;*/
    /*margin: auto;*/
    margin-bottom: 20px;
}

.childDiv.dotted {
    outline: 2px dotted #000; /* Adjust color and width as needed */
}

.movementControl{
    display: flex;
    position: relative;
    margin-top: 5px;
}
.movement{
    position: absolute;
    cursor: pointer;
}

#left{
    left: 0px;
    top: 5px;
}
#right{
    left: 50px;
    top: 5px;
}
#top{
    top: -10px;
    left: 25px;
}
#bottom{
    top: 25px;
    left: 20px;
}
.movementInPx{
    margin-left: 0;
    width: 110px;
    height: 30px;
}

.controls input[type="text"],
.controls input[type="number"] {
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 80px;
    margin-right: 5px;
}

.controls label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.controls button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    /*background-color: #007bff;*/
    /*color: #444;*/
    transition: background-color 0.3s ease;
}
.setPriceColorHolder{
    display: block;
    width: 120px;
    gap: 10px;
}
.colorPriceHolder{
    width: 110px;
    display: grid;
    margin-bottom: 20px;
}



.controls .setSeatNumber {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    /*width: 100%;*/
}
.planControlHolder{
    width: 100%;
    display: flex;
    gap: 5px;
}

.lasso-cursor {
    cursor: crosshair; /* Change the cursor to a "lasso" (crosshair) style */
}

#applyChanges,
#make_circle,
#applyColorChanges,
#set_seat_number,
#enable_resize,
#enable_drag_drop,
#set_multiselect,
#set_seat,
#set_shape,
#clearAll,
#savePlan {
    font-weight: bold;
}

#applyChanges, #applyColorChanges {
    background-color: #817a7a;
    color: #fff;
    width: 110px
}

#setPrice,
#seat_number_prefix,
#seat_number_count {
    width: 110px;
}

#applyChanges, #applyColorChanges:hover {
    background-color: #218838;
    width: 110px
}

#clearAll {
    background-color: #dc3545;
    color: #fff;
    height: 30px;
    width: 110px;
    margin: 1px 0px 10px 0px;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
}

#clearAll:hover {
    background-color: #c82333;
}

#savePlan {
    background-color: #37a8db;
    color: #fff;
    height: 50px;
    width: 110px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
}

#savePlan:hover {
    background-color: #e0a800;
}

#enable_resize,
#enable_drag_drop,
#make_circle,
#set_seat,
#set_shape,
#set_multiselect {
    /*background-color: #17a2b8;*/
    border: 1px solid #d3cccc;
}

#setText:hover,
#enable_resize:hover,
#removeSelected:hover,
#rotateDone:hover,
#set_single_select:hover,
#enable_drag_drop:hover,
#make_circle:hover,
#set_multiselect:hover {
    background-color: #138496;
    color: #fff;
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    z-index: 999;
}

